*{
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  width: 50%;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-box {
  display: table-cell;
}
