
.score {
    display: inline-block;
    width: 300px;
}

.score div{
    margin: 0 auto;
    padding: 10px;
}

#score, #floors{
    display: inline;
}

#nextBlock{
    border: 1px solid grey;
    width: 61px;
    height: 121px;
}